* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 340px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav li a:focus {
  background-color: rgba(0,0,0,0);
}


.border {
  border: 1px solid red;
}

.navigation {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  margin-top: 20px;
}

.nav {
  margin-top: 5px;
}

.nav li a:hover {
  background-color: rgba(0,0,0,0);
  opacity: 1.0;
  text-decoration: line-through;
}

.nav li a {
  color: black;
  margin-left: -40px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease-in-out;
  opacity: 0.40;
}

.navigation img {
  display: inline-block;
  width: 45px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.60;
  cursor: pointer;
  margin-left: 5%;
}

.navigation img:hover {
  opacity: 1.0;
}

.welcomeSec {
  display: block;
  text-align: center;
  color: #262626;
  font-family: "Quicksand";
  /*background-color: #ffffe6;*/
  background-image: url("manila.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
  /*background: linear-gradient(to top right, #fefefe, #fff);*/
}

.welcomeSec .mainLogo {
  display: inline-block;
  position: relative;
  width: 150px;
  margin-top: 150px;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.welcomeSec .mainLogo:hover {
  width: 160px;
}

.welcomeSec h1 {
  font-size: 120px;
  font-family: "Lobster";
  margin-top: 10px;

}

.down {
  display: block;
  position: relative;
  width: 60px;
  margin-left: 50%;
  left: -30px;
  margin-top: 8%;
  transition: all 0.2s ease-in-out;
  opacity: 0.70;
  cursor: pointer;
  border-radius: 100px;
}

.down:hover {
  opacity: 1.0;
  margin-top: 7%;
  box-shadow: 0 2px 10px -2px rgba(0,0,0,0.50);
  border-radius: 100%;
}

/* WORK SECTION CSS */

.workSec {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  /*background-color: #262626;*/
  background: linear-gradient(to bottom, #303030, #262626);
}

.secTitle h1 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  border-left: 3px solid white;
  width: 300px;
}

.secTitle small {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}

.myWork {
  text-align: center;
  margin-top: 20px;
}

.imageHolder {
  position: relative;
  height: 300px;
  background-color: grey;
  margin: 15px;
  background-position: center top;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.imageHolder:hover {
  box-shadow: 0 14px 20px -2px rgba(0,0,0, 0.50);
}

.dimmer {
  position: absolute;
  left: -200px;
  background-color: rgba(0,0,0,0.60);
  height: 500px;
  width: 700px;
  opacity: 0.00;
}

.caption {
  text-transform: uppercase;
  position: absolute;
  margin-top: -100%;
  width: 200px;
  margin-left: 50%;
  left: -100px;
  color: white;
  font-family: "Quicksand", sans-serif;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  opacity: 0.00;
}

.caption small {
  color: white;
}

.caption-visible {
  opacity: 1.0;
  margin-top: 50%;
}

.dimmer-visible {
  opacity: 1.0;
}

.inover {
  background-image: url("homepage.png");
}

.reme {
  background-image: url("reme.png");
}

.byui {
  background-image: url("byui.png");
}

.beachjam {
  background-image: url("beachjam.png");
}

.mnlcity {
  background-image: url("manila.jpg");
}

.down2 {
  display: inline-block;
  position: relative;
  width: 60px;
  margin-top: 8%;
  transition: all 0.2s ease-in-out;
  opacity: 0.70;
  cursor: pointer;
  border-radius: 100px;
}

.down2:hover {
  opacity: 1.0;
  margin-top: 7%;
  box-shadow: 0 2px 10px -2px rgba(0,0,0,0.50);
  border-radius: 100%;
}

/* ABOUT SECTION CSS */

.aboutSec {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: linear-gradient(to top right, #fefefe, #fff);
}

.secTitle2 h1 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: #262626;
  text-transform: uppercase;
  padding: 5px;
  border-left: 3px solid #262626;
  width: 300px;
}

.secTitle2 small {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}

.aboutSec span {
  font-weight: bold;
}

.aboutHeader {
  text-transform: capitalize;
  font-family: "Lobster", serif;
  font-size: 100px;
  margin-top: 70px;
  color: #262626;
}

.aboutDes {
  display: inline-block;
  position: relative;
  color: #262626;
  font-size: 20px;
  max-width: 400px;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #262626;
}

/* CONTACT SECTION */

.conSec {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  text-align: center;
  background: linear-gradient(to bottom, #262626, #262626);
}

.secTitle3 h1 {
  text-decoration: none;
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  border-left: 3px solid white;
  border-bottom: 2px solid white;
  width: 300px;
}

.secTitle3 h2 {
  text-decoration: none;
  font-size: 70px;
  font-family: "Lobster", sans-serif;
  color: white;
  margin: 80px 0px 80px 0px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.60;
}

.secTitle3 h2:hover {
  opacity: 1.0;
}

.secTitle3 small {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}

/* FOOTER SECTION */

.footer {
  display: block;
  height: 90px;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footCon {
  text-align: center;
}

.footCon img {
  display: inline-block;
  position: relative;
  width: 45px;
  opacity: 0.60;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.footCon img:hover {
  opacity: 1.0;
}





/* Media Queries */

@media screen and (max-width: 768px) {

  .welcomeSec h1 {
    font-size: 60px;
  }

  .welcomeSec h2 {
    font-size: 20px;
  }

  .imageHolder {
    max-width: 95%;
  }

  .dimmer {
    height: 1000px;
    width: 1000px;
  }

  .secTitle3 h2 {
    font-size: 40px;
  }

}
